<md-dialog layout-padding md-scroll-y ng-controller="MarcasController" ng-cloak class="modalAncho">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar Marcas</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cerrar()">
          <md-tooltip md-direction="top" md-visible="tooltipVisible">Cerrar</md-tooltip>
          <md-icon md-font-icon="fa fa-times-circle fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
       <form name="projectForm" layout="column" method="POST">
         <md-input-container>
           <label>Nombre</label>
           <input md-maxlength="50" required name="nombre" ng-model="form.nombre" />
           <div class="hint" ng-if="!projectForm.nombre.$touched">Ingresá el Nombre de la Marca</div>
           <div ng-messages="projectForm.nombre.$error" md-auto-hide="false" ng-if="projectForm.nombre.$touched">
             <div ng-message="required" ng-if="projectForm.nombre.$touched" md-auto-hide="false">Nombre es requerido</div>
             <div ng-message="md-maxlength" md-auto-hide="false">El Nombre debe tener como máximo 50 caracteres de longitud</div>
           </div>
         </md-input-container>

         <md-input-container>
          <div>
            <input type="file" file-model="myFile"/>
            <button ng-click="uploadFile()">Upload Me</button>
          </div>
         </md-input-container>
         <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="projectForm.$invalid">Submit</md-button>
       </form>
      </div>
    </md-dialog-content>
</md-dialog>