.select {
	font-size: 14px !important;
}

.md-dialog.modalPedido {
  min-width: 40%;
  max-width: 80%;
  width: 550px;
}

.filtroPedidos {
	padding-top:12px;
	padding-right:2px;
}

.filtroPedidosEstado {
	font-size:14px;
	padding-right:2px;
}