<md-dialog layout-padding md-scroll-y ng-controller="ClientesController" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar Cliente</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cerrar()">
          <md-tooltip md-direction="top" md-visible="tooltipVisible">Cerrar</md-tooltip>
          <md-icon md-font-icon="fa fa-times-circle fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <br></br>
    <md-dialog-content layout="column">
       <form name="projectForm" layout="column" method="POST">
          <md-input-container>
            <label>Nombre</label>
            <input type="text" md-maxlength="20" required name="nombre" ng-value="form.nombre" ng-model="form.nombre" />
          </md-input-container>

          <md-input-container>
            <label>Apellido</label>
            <input md-maxlength="20" required name="apellido" ng-value="" ng-model="form.apellido" />
          </md-input-container>

          <md-input-container>
            <label>Direccion</label>
            <input md-maxlength="50" required name="direccion" ng-value="" ng-model="form.direccion" />
          </md-input-container>

          <md-input-container>
            <label>Teléfono</label>
            <input required name="telefono" ng-value="" ng-model="form.telefono" />
          </md-input-container>

          <md-input-container>
            <label>Email</label>
            <input required name="email" ng-value="" ng-model="form.email" />
          </md-input-container>

          <md-input-container>
            <label>Razon Social</label>
            <input md-maxlength="50" required name="razonSocial" ng-model="form.razonSocial">
          </md-input-container>

          <md-input-container>
            <label>Horario de Preferencia</label>
            <input md-maxlength="50" required name="disponibilidad" ng-model="form.disponibilidad">
           </md-input-container>

          <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="disabled" ng-show="isAvailable">Submit</md-button>

      </form>
    </md-dialog-content>
  </form>
</md-dialog>
