<md-dialog layout-padding md-scroll-y ng-controller="ListadoPedidosController" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Detalle del Cliente: <span>{{cliente.nombreCompleto}}</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cerrar()">
          <md-tooltip md-direction="top" md-visible="tooltipVisible">Cerrar</md-tooltip>
          <md-icon md-font-icon="fa fa-times-circle fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div>
          <p><b>Nombre(s):</b> {{cliente.nombre}}</p>
          <p><b>Apellido:</b> {{cliente.apellido}}</p>
          <p><b>Razon Social:</b> {{cliente.razonSocial}}</p>
          <p><b>Dirección:</b> {{cliente.direccion}}</p>
          <p><b>Teléfono:</b> {{cliente.telefono}}</p>
          <p><b>Email:</b> {{cliente.email}}</p>
          <p><b>Disponibilidad:</b> {{cliente.disponibilidad}}</p>
          <p><b>Estado:</b> {{cliente.estado.nombre}}</p>
          <br>
          <p><b>Código QR:</b></p>
          <qr text="validador" image="true" size="250"></qr>


        </div>
        <!--<div>
          <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold" layout-wrap>
              <td flex="30">Producto</td>
              <td flex="15">Precio Unitario</td>
              <td flex="10">Cantidad</td>
              <td flex="15">Subtotal</td>
            </tr>
            <tr ng-repeat="item in items">
              <td>
                <span>{{item.nombreProducto || '-'}}</span>
              </td>
              <td>
                <span>${{item.precioUnitario | number: '2' || '-'}}</span>
              </td>
              <td>
                <span>{{item.cantidad || '-'}}</span>
              </td>
              <td>
                <span>${{item.subtotalProducto | number: '2' || '-'}}</span>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <p><b>Total Compra:</b> ${{unPedido.totalCompra | number:'2' || '-'}}</p>
        </div>-->
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
