<md-toolbar class="md-warn md-whiteframe-z1">
  <h2 class="md-toolbar-tools">
    <span>Pedidos > Búsqueda de Pedidos</span>
  </h2>
</md-toolbar>

<md-content layout-fill layout-padding flex md-scroll-y>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
        <md-datepicker ng-model="fecha" md-placeholder="Fecha">
        </md-datepicker>
    </div>
    <div class="col-md-3">
      <md-select ng-model="cliente" placeholder="Cliente">
          <md-option ng-repeat="pedido in pedidos | unique:'nombreCliente'" value="{{pedido.nombreCliente}}">
            {{pedido.nombreCliente}}
          </md-option>
        </md-select>
    </div>
    <div class="col-md-2">
      <md-select ng-model="estado" placeholder="Estado">
          <md-option ng-repeat="pedido in pedidos | unique:'estado.id'" value="{{pedido.estado.id}}">
            {{pedido.estado.nombre}}
          </md-option>
        </md-select>
    </div> 
    <div class="col-md-2">
      <md-select ng-model="vendedor" placeholder="Vendedor">
          <md-option ng-repeat="pedido in pedidos | unique:'vendedor.id'" value="{{pedido.vendedor.id}}">
            {{pedido.vendedor.nombre}}
          </md-option>
        </md-select>
    </div> 
  </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
         <table class="table table-bordered table-hover table-condensed table-styled">
          <tr style="font-weight: bold">
            <td style="width:5%"><md-checkbox ng-click="toggleAll()" ng-model="isAllSelected" aria-label="seleccionarTodos"></md-checkbox></td>
            <td style="width:10%">Nº</td>
            <td style="width:10%">Fecha</td>
            <td style="width:30%">Cliente</td>
            <td style="width:20%">Estado</td>
            <td style="width:30%">Vendedor</td>
            <td style="width:30%">Editar</td>
          </tr>
          <tr ng-repeat="pedido in pedidos | filter:query">
      		<td>
      			<md-checkbox ng-model="pedido.selected" aria-label="seleccionar"></md-checkbox>
      		</td>
            <td>
              <span e-name="id" e-form="rowform">
                {{ pedido.id || '-' }}
              </span>
            </td>
            <td>
              <span e-name="fechaRealizado" e-form="rowform">
                {{ pedido.fechaRealizado | date : 'dd/MM/yyyy' || '-' }}
              </span>
            </td>
            <td>
              <span e-name="nombreCliente" e-form="rowform">
                {{ pedido.nombreCliente || '-' }}
              </span>
            </td>
            <td>
              <!-- editable status (select-local) -->
              <span editable-select="pedido.estado" e-name="estado" e-form="rowform" onshow="loadEstados()" e-ng-options="s.id as s.nombre for s in estados" e-required>
                {{ showEstados(pedido) }}
              </span>
            </td>
            <td>
              <span e-name="vendedor" e-form="rowform">
                {{ pedido.vendedor || '-' }}
              </span>
            </td>
            <td style="white-space: nowrap">
              <!-- form -->
              <form editable-form name="rowform" onbeforesave="saveUser($data, pedido.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == pedido">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                  guardar
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                  cancelar
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <md-button class="btn md-primary md-raised" ng-click="rowform.$show()">editar</md-button>
                <md-button class="btn md-warn md-raised" ng-click="removeProducto($index)">eliminar</md-button>
              </div>  
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>
</md-content>