<div layout-xs="column" ng-cloak class="md-default-theme" layout-fill>
  <div layout-fill>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" style="float:left" md-component-id="left" hide-print md-is-open="sidenavOpen">
    <header class="nav-header">
        <md-toolbar class="md-whiteframe-z1 md-tall" layout="column">
        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
          <span class="md-flex">Order Tracker</span>
        </h2>
      </md-toolbar>
    </header>
    <md-content class="md-padding" flex>
        <div class="lock-size" layout-align="center center">
          <md-fab-speed-dial md-open="false" md-direction="down" ng-class="'md-scale'">
              <md-fab-trigger>
                <md-button class="md-primary" aria-label="Pedidos">Pedidos <md-icon md-font-icon="fa fa-sotr-desc fa-lg"></md-icon></md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button aria-label="Busqueda Pedidos" class="md-fab md-raised md-mini" ui-sref=".listadoPedidos" ng-click="closeMenu()">
                  <md-tooltip md-direction="top" md-visible="tooltipVisible">Busqueda de Pedidos</md-tooltip>
                  <md-icon md-font-icon="fa fa-shopping-cart fa-lg"></md-icon>
                </md-button>
              </md-fab-actions>
          </md-fab-speed-dial>
          <md-fab-speed-dial md-open="false" md-direction="down" ng-class="'md-scale'">
              <md-fab-trigger>
                <md-button class="md-primary" aria-label="Agenda">Agenda <md-icon md-font-icon="fa fa-sotr-desc fa-lg"></md-icon></md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button aria-label="Ver Agenda" class="md-fab md-raised md-mini" ui-sref=".agenda" ng-click="closeMenu()">
                  <md-tooltip md-direction="top" md-visible="tooltipVisible">Agenda de Vendedores</md-tooltip>
                  <md-icon md-font-icon="fa fa-calendar fa-lg"></md-icon>
                </md-button>
              </md-fab-actions>
          </md-fab-speed-dial>
          <md-fab-speed-dial md-open="false" md-direction="down" ng-class="'md-scale'">
              <md-fab-trigger>
                <md-button class="md-primary" aria-label="Agenda">Clientes <md-icon md-font-icon="fa fa-sotr-desc fa-lg"></md-icon></md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button aria-label="Ver Clientes" class="md-fab md-raised md-mini" ui-sref=".clientes" ng-click="closeMenu()">
                  <md-tooltip md-direction="top" md-visible="tooltipVisible">Clientes</md-tooltip>
                  <md-icon md-font-icon="fa fa-user fa-lg"></md-icon>
                </md-button>
              </md-fab-actions>
          </md-fab-speed-dial>
          <md-fab-speed-dial md-open="false" md-direction="down" ng-class="'md-scale'">
              <md-fab-trigger>
                <md-button class="md-primary" aria-label="Agenda">Marcas <md-icon md-font-icon="fa fa-sotr-desc fa-lg"></md-icon></md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button aria-label="Ver Marcas" class="md-fab md-raised md-mini" ui-sref=".marcas" ng-click="closeMenu()">
                  <md-tooltip md-direction="top" md-visible="tooltipVisible">Marcas</md-tooltip>
                  <md-icon md-font-icon="fa fa-cubes fa-lg"></md-icon>
                </md-button>
              </md-fab-actions>
          </md-fab-speed-dial>
        </div>
    </md-content>
    </md-sidenav>
    <md-content layout-fill>
      <div ui-view></div>
    </md-content>
  </div>
</div>
