@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

html,body {
  overflow: hidden;
}

[layout=row] {
  flex-direction: row;
}

header {
  .md-button {
    &.md-default-theme {
      &.md-flat {
        margin: 0 15px;
        padding-top: 27px;
      }
    }
  }
}

.md-button.md-active {
  background-color: rgba(158, 158, 158, 0.2);
}

.md-column {
  padding-right: 25px !important;
}

.md-cell {
  padding-right: 25px !important;
}

.label.ng-binding {
  font-family: 'Helvetica Neue', 'Helvetica', serif;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.container {
  overflow-y: auto !important;
}

md-dialog.modalAncho {
  min-width: 30%;
  max-width: 70%;
  width: 450px;
}

md-input-container.md-input-invalid .md-input {
  border-color: #FF0000 !important;
}

.filtroFormContainer {
  margin-left: 10px;
  margin-right: 10px;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector


