<md-content flex layout-fill md-scroll-y>

  <md-toolbar class="md-warn md-whiteframe-z1">
    <h3 class="md-toolbar-tools">
      <md-button class="md-icon-button md-warn md-hue-1" ng-click="openMenu()" aria-label="Toggle Menu">
        <md-icon md-font-icon="fa fa-bars fa-lg"></md-icon>
      </md-button>
      <span>&nbsp;Productos > Listado de Productos</span>
    </h3>
  </md-toolbar>

  <md-content layout-fill layout-padding md-scroll-y>
    <md-card>
      <md-card-content>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="filter.show">
          <div class="md-toolbar-tools">
            <h2 class="md-title">Productos</h2>
            <div flex="" class="flex"></div>
            <md-button class="md-icon-button" ng-click="filter.show = true" aria-label="buscar">
              <md-icon md-font-icon="fa fa-search fa-lg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-button class="md-fab md-warn md-mini" ng-click="agregarProductoModal($event)" aria-label="+">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </md-button>
        <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show">
          <div class="md-toolbar-tools">
            <form flex name="filter.form">
              <div layout="row">
                <div flex class="filtroFormContainer">
                  <md-input-container>
                    <input name="nombre" aria-label="nombre" ng-model="filter.form.filtroNombre" placeholder="Nombre "/>
                  </md-input-container>
                </div>
                <div flex class="filtroFormContainer">
                  <md-select name="marca" aria-label="marca" ng-model="filter.form.filtroMarca" placeholder="Marca">
                    <md-option ng-value="marca" ng-repeat="marca in marcas">{{marca.nombre}}</md-option>
                  </md-select>
                </div>
                <div flex class="filtroFormContainer">
                  <md-select name="categoria" aria-label="categoria" ng-model="filter.form.filtroCategoria" placeholder="Categoria">
                    <md-option ng-value="categoria" ng-repeat="categoria in categorias">{{categoria.nombre}}</md-option>
                  </md-select>
                </div>
                <div flex class="filtroFormContainer">
                  <md-select name="estado" aria-label="estado" ng-model="filter.form.filtroEstado" placeholder="Estado">
                    <md-option ng-value="estado" ng-repeat="estado in estados">{{estado.nombre}}</md-option>
                  </md-select>
                </div>
              </div>
            </form>
            <md-button class="md-fab md-warn md-mini" ng-click="filtrarProductos()" aria-label="buscar productos">
              <md-icon md-font-icon="fa fa-search fa-lg"></md-icon>
            </md-button>
            <md-button class="md-fab md-warn md-mini" ng-click="removerFiltro()" aria-label="cerrar">
              <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
          </div>
        </md-toolbar>

        <md-table-container>
          <table md-table multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getProductosFiltrado">
            <tr md-row>
              <th md-column md-numeric md-order-by="id">Código</th>
              <th md-column md-order-by="nombre">Nombre</th>
              <th md-column md-order-by="marca">Marca</th>
              <th md-column>Descripcion</th>
              <th md-column md-numeric md-order-by="precio">Precio Unitario</th>
              <th md-column md-numeric md-order-by="stock">Stock</th>
              <th md-column md-order-by="estado.id">Estado</th>
              <th md-column>Acciones</th>
            </tr>
            </thead>
            <tbody md-body>
            <!-- <tr md-row md-select="producto" md-select-id="id" md-auto-select ng-repeat="producto in productos  | orderBy: query.order"> -->
            <tr md-row md-select="producto" md-select-id="id" md-auto-select ng-repeat="producto in productos | orderBy: query.order">
              <td md-cell>{{producto.id}}</td>
              <td md-cell>{{producto.nombre}}</td>
              <td md-cell>{{producto.marca}}</td>
              <td md-cell>{{producto.caracteristicas}}</td>
              <td md-cell>${{producto.precio | number:'2'}}</td>
              <td md-cell>{{producto.stock}}</td>
              <td md-cell>{{producto.estado.nombre}}</td>
              <td md-cell>
                <md-button class="md-fab md-warn md-mini" ng-click="mostrarProductoModal($event,producto.id)" aria-label="ver">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </md-button>
                <md-button class="md-fab md-primary md-mini" ng-click="editarProductoModal($event,producto.id)" aria-label="confirmar">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </md-button>
                <md-button class="md-fab md-accent md-mini" ng-click="borrarProducto(producto.id)" aria-label="eliminar">
                  <i class="fa fa-eraser" aria-hidden="true"></i>
                </md-button>
              </td>
            </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="20" md-page="query.pagina" md-total="{{totalResultados}}" md-label="{page: 'Página:', of: 'de'}" md-on-paginate="getProductosFiltrado" md-page-select></md-table-pagination>

      </md-card-content>

    </md-card>
  </md-content>

</md-content>
