<md-dialog layout-padding md-scroll-y ng-controller="ClientesController" ng-cloak class="modalAncho">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar Cliente</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cerrar()">
          <md-tooltip md-direction="top" md-visible="tooltipVisible">Cerrar</md-tooltip>
          <md-icon md-font-icon="fa fa-times-circle fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
       <form name="projectForm" layout="column" method="POST">
         <md-input-container>
           <label>Nombre</label>
           <input md-maxlength="50" required name="nombre" ng-model="form.nombre" />
           <div class="hint" ng-if="!projectForm.nombre.$touched">Ingresá el Nombre</div>
           <div ng-messages="projectForm.nombre.$error" md-auto-hide="false" ng-if="projectForm.nombre.$touched">
             <div ng-message="required" ng-if="projectForm.nombre.$touched" md-auto-hide="false">Nombre es requerido</div>
             <div ng-message="md-maxlength" md-auto-hide="false">El Nombre debe tener como máximo 50 caracteres de longitud</div>
           </div>
         </md-input-container>

         <md-input-container>
           <label>Apellido</label>
           <input md-maxlength="50" required name="apellido" ng-model="form.apellido" />
           <div class="hint" ng-if="!projectForm.apellido.$touched">Ingresá el Apellido</div>
           <div ng-messages="projectForm.apellido.$error" md-auto-hide="false" ng-if="projectForm.apellido.$touched">
             <div ng-message="required" ng-if="projectForm.apellido.$touched">Apellido es requerido</div>
             <div ng-message="md-maxlength">El Apellido debe tener como máximo 50 caracteres de longitud</div>
           </div>
         </md-input-container>

         <md-input-container>
           <label>Dirección</label>
           <input md-maxlength="100" required name="direccion" ng-model="form.direccion" />
           <div class="hint" ng-if="!showHints && !projectForm.direccion.$touched">Ingresá la Dirección</div>
           <div ng-messages="projectForm.direccion.$error" md-auto-hide="false" ng-if="projectForm.direccion.$touched">
             <div ng-message="required" ng-if="projectForm.direccion.$touched">Dirección es requerida</div>
             <div ng-message="md-maxlength">La Dirección debe tener como máximo 100 caracteres de longitud</div>
           </div>
         </md-input-container>

         <md-input-container>
           <label>Teléfono</label>
           <input required name="telefono" ng-model="form.telefono" ng-pattern="/^[0-9]{2}-[0-9]{4}-[0-9]{4}$/" />
           <div class="hint" ng-if="!showHints && !projectForm.telefono.$touched">Ingresá un Teléfono de Contacto (##-####-####)</div>
           <div ng-messages="projectForm.telefono.$error" md-auto-hide="false" ng-if="projectForm.telefono.$touched">
             <div ng-message="required" ng-if="projectForm.telefono.$touched">Teléfono es requerido</div>
             <div ng-message-exp="['required','pattern']">Por favor ingresá un teléfono válido</div>
           </div>
         </md-input-container>

         <md-input-container >
           <label>Email</label>
           <input required name="email" ng-model="form.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
           <div class="hint" ng-if="!showHints && !projectForm.email.$touched">Ingresá un Email de Contacto (micorreo@mail.com)</div>
           <div ng-messages="projectForm.email.$error" md-auto-hide="false" ng-if="projectForm.email.$touched">
             <div ng-message="required" ng-if="projectForm.email.$touched">Email es requerido</div>
             <div ng-message-exp="['required','minlength','maxlength', 'pattern']">Por favor ingresá un E-mail válido entre 10 y 100 caracteres</div>
           </div>
         </md-input-container>

         <md-input-container>
           <label>Razón Social</label>
           <input md-maxlength="50" required name="razonSocial" ng-model="form.razonSocial" />
           <div class="hint" ng-if="!showHints && !projectForm.razonSocial.$touched">Ingresá la Razón Social</div>
           <div ng-messages="projectForm.razonSocial.$error" md-auto-hide="false" ng-if="projectForm.razonSocial.$touched">
             <div ng-message="required" ng-if="projectForm.razonSocial.$touched">Razón Social es requerido</div>
             <div ng-message="md-maxlength">La Razón Social debe tener como máximo 50 caracteres de longitud</div>
           </div>
         </md-input-container>

         <md-input-container>
           <label>Horario de Preferencia</label>
           <input md-maxlength="50" name="disponibilidad" ng-model="form.disponibilidad" />
           <div class="hint" ng-if="!showHints && !projectForm.disponibilidad.$touched">Ingresá el Horario de Preferencia</div>
           <div ng-messages="projectForm.disponibilidad.$error" md-auto-hide="false" ng-if="projectForm.disponibilidad.$touched">
             <div ng-message="md-maxlength">El Horario de Preferencia debe tener como máximo 50 caracteres de longitud</div>
           </div>
         </md-input-container>
         <!--
         <md-input-container>
            <label>Nombre</label>
            <input type="text" md-maxlength="20" required name="nombre" ng-value="form.nombre" ng-model="form.nombre" />
          </md-input-container>

          <md-input-container>
            <label>Apellido</label>
            <input md-maxlength="20" required name="apellido" ng-value="" ng-model="form.apellido" />
          </md-input-container>

          <md-input-container>
            <label>Direccion</label>
            <input md-maxlength="50" required name="direccion" ng-value="" ng-model="form.direccion" />
          </md-input-container>

          <md-input-container>
            <label>Teléfono</label>
            <input required name="telefono" ng-value="" ng-model="form.telefono" />
          </md-input-container>

          <md-input-container>
            <label>Email</label>
            <input required name="email" ng-value="" ng-model="form.email" />
          </md-input-container>

          <md-input-container>
            <label>Razon Social</label>
            <input md-maxlength="50" required name="razonSocial" ng-model="form.razonSocial">
          </md-input-container>

          <md-input-container>
            <label>Horario de Preferencia</label>
            <input md-maxlength="50" required name="disponibilidad" ng-model="form.disponibilidad">
           </md-input-container>
          -->

          <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="projectForm.$invalid">Submit</md-button>
       </form>
      </div>
    </md-dialog-content>
</md-dialog>
