<md-dialog layout-padding md-scroll-y ng-cloak ng-controller="ClientesController" class="modalAncho">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Detalle del Cliente: <span>{{cliente.nombreCompleto}}</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cerrar()">
          <md-tooltip md-direction="top" md-visible="tooltipVisible">Cerrar</md-tooltip>
          <md-icon md-font-icon="fa fa-times-circle fa-lg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <form name="projectForm" layout="column">
          <md-input-container>
            <label>Nombre</label>
            <input md-maxlength="50" required name="nombre" ng-model="cliente.nombre" />
            <div class="hint" ng-if="!showHints && !projectForm.nombre.$touched">Ingresá el Nombre</div>
            <div ng-messages="projectForm.nombre.$error" ng-if="!showHints">
              <div ng-message="required" ng-if="projectForm.nombre.$touched">Nombre es requerido</div>
              <div ng-message="md-maxlength">El Nombre debe tener como máximo 50 caracteres de longitud</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Apellido</label>
            <input md-maxlength="50" required name="apellido" ng-model="cliente.apellido" />
            <div class="hint" ng-if="!showHints && !projectForm.apellido.$touched">Ingresá el Apellido</div>
            <div ng-messages="projectForm.apellido.$error" ng-if="!showHints">
              <div ng-message="required" ng-if="projectForm.apellido.$touched">Apellido es requerido</div>
              <div ng-message="md-maxlength">El Apellido debe tener como máximo 50 caracteres de longitud</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Dirección</label>
            <input md-maxlength="100" required name="direccion" ng-model="cliente.direccion" />
            <div class="hint" ng-if="!showHints && !projectForm.apellido.$touched">Ingresá la Dirección</div>
            <div ng-messages="projectForm.direccion.$error" ng-if="!showHints">
              <div ng-message="required" ng-if="projectForm.apellido.$touched">Dirección es requerido</div>
              <div ng-message="md-maxlength">La Dirección debe tener como máximo 100 caracteres de longitud</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Teléfono</label>
            <input required name="telefono" ng-model="cliente.telefono" ng-pattern="/^[0-9]{2}-[0-9]{4}-[0-9]{4}$/" />
            <div class="hint" ng-if="!showHints && !projectForm.apellido.$touched">Ingresá un Teléfono de Contacto (##-####-####)</div>
            <div ng-messages="projectForm.telefono.$error" ng-if="!showHints">
              <div ng-message="required" ng-if="projectForm.apellido.$touched">Dirección es requerido</div>
              <div ng-message-exp="['required','pattern']">Por favor ingresá un teléfono válido</div>
            </div>
          </md-input-container>

          <md-input-container >
            <label>Email</label>
            <input required name="email" ng-model="cliente.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
            <div class="hint" ng-if="!showHints && !projectForm.email.$touched">Ingresá un E-Mail de Contacto (micorreo@mail.com)</div>
            <div ng-messages="projectForm.email.$error" ng-if="!showHints && projectForm.email.$touched">
              <div ng-message-exp="['required','minlength','maxlength', 'pattern']">Por favor ingresá un E-mail válido entre 10 y 100 caracteres</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Razón Social</label>
            <input md-maxlength="50" required name="razonSocial" ng-model="cliente.razonSocial" />
            <div class="hint" ng-if="!showHints && !projectForm.razonSocial.$touched">Ingresá la Razón Social</div>
            <div ng-messages="projectForm.razonSocial.$error" ng-if="!showHints">
              <div ng-message="required" ng-if="projectForm.razonSocial.$touched">Razón Social es requerido</div>
              <div ng-message="md-maxlength">La Razón Social debe tener como máximo 50 caracteres de longitud</div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Horario de Preferencia</label>
            <input md-maxlength="50" name="disponibilidad" ng-model="cliente.disponibilidad" />
            <div class="hint" ng-if="!showHints && !projectForm.disponibilidad.$touched">Ingresá el Horario de Preferencia</div>
            <div ng-messages="projectForm.disponibilidad.$error" ng-if="!showHints">
              <div ng-message="md-maxlength">El Horario de Preferencia debe tener como máximo 50 caracteres de longitud</div>
            </div>
          </md-input-container>

          <!--
          <md-input-container>
            <label>Nombre</label>
            <input type="text" ng-model="cliente.nombre">
          </md-input-container>

          <md-input-container>
            <label>Apellido</label>
            <input md-maxlength="20" required name="apellido" ng-value="cliente.apellido" ng-model="form.apellido" />
          </md-input-container>

          <md-input-container>
            <label>Direccion</label>
            <input type="text" ng-value="cliente.direccion" ng-model="cliente.direccion" />
          </md-input-container>

          <md-input-container>
            <label>Teléfono</label>
            <input type="text" ng-model="cliente.telefono" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/"/>
          </md-input-container>

          <md-input-container>
            <label>Email</label>
            <input type="text" ng-model="cliente.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
          </md-input-container>

          <md-input-container>
            <label>Razon Social</label>
            <input type="text"<input type="text" ng-value="cliente.razonSocial" ng-model="cliente.razonSocial">
          </md-input-container>

          <md-input-container>
            <label>Horario de Preferencia</label>
            <input type="text" ng-value="cliente.disponibilidad" ng-model="cliente.disponibilidad">
          </md-input-container>
          -->

          <md-button class="md-raised md-primary" ng-click="update(cliente.id)" ng-disabled="projectForm.$invalid" ng-show="isAvailable">Update</md-button>

        </form>
      <div>
        <div class="centradoTexto"><b>Código QR Cliente</b></div>
        <div class="centradoBloque"><qr text="validador" image="true" size="250"></qr></div>
      </div>
      </div>
    </md-dialog-content>
</md-dialog>
